
header {
  width: 100%;
  background-color: #0c4022;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 1% 0
}

header img {
  max-width: 60%;
  margin-left: 27%;
}

@font-face {
  font-family: 'Lobster', sans-serif;
  src: url(/fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: 'Lora', serif;
  src: url(/fonts/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Lora', serif;
  src: url(/fonts/Lora-Italic-VariableFont_wght.ttf);
}

* {
  font-family: 'Lora-VariableFont', 'Times New Roman', serif; 
  color: #dfe9f2;
}

nav {
  z-index: 2;
  background-color: #080b0d; 
  position: fixed; 
  bottom: 0%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

nav ul li.actief {
  border-bottom: 2px solid rgb(255, 255, 255);
}

ul {
  display: flex;
  padding: 0;
  margin-bottom: 0.5em;
}

ul li {
  list-style-type: none;
}

ul img {
  display: flex;
  flex-direction: row;
  max-width: 45%;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

body {
  background: #177351;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Lobster', serif, sans-serif;
  font-weight: 100 ;
  margin-bottom: 7%;
  margin-top: 6%;
  font-size: xx-large;
}

h2 {
  text-align: center;
  padding: 1% 0;
  margin: 1%;
  font-family: 'Lora', serif;
  font-size: 120%;
}

h3 {
  text-align: center;
  padding: 1% 0.5%;
  font-family: 'Lora', serif;
  border-radius: 1em;
  background-color: #080b0d;
  margin: 0.5% 3em;
  }

h4 {
  text-align: center;
  font-size: 110%;
}

.rechthoek h3 {
  padding: 0;
}

p {
  padding: 0% 10%;
  text-align: center;
  margin-bottom: 8%;
  margin-top: 6%;
  font-family: 'Times New Roman', Times, serif;
}


/* hieronder is de 1e webpagina*/
main {
  margin-bottom: 25%;
}

img.rondje {
  width: 18%;
  z-index: 1;
}

.container-1 {
  padding: 0 0;
  margin: auto;
  width: 70%;
  margin-bottom: 1.25em;
}

.knop {
  align-items: center;
}

.rechthoek {
  border-radius: 1em;
  background-color: #61a5b5;
  padding: 4% 25%;
  margin: 9% -1em;
  width: 5em;
  border: dashed;
}

.rondje {
  background-color: #61a5b5;
  border-radius: 5em;
  padding: 4%;
  margin: 0 -1em;
  border: dashed;
}

.contact {
  margin: 2%;
}


/* hieronder is de 2e en 3e webpagina*/
.kop-1 { /* alleen 2e */
  border-radius: 1em;
  background-color: #080b0d;
  margin: 0 4em;
}

.foto-kop { 
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 2em;
  border-radius: 1em;
}

.knop-2 p { 
  margin: 0 2em;
  padding: 2% 16%;
  border-radius: 1em;
  background-color: #61a5b5;
  border: dashed;
}

.groot { /*alleen 3e */
  font-size: larger;
}


/* hieronder is de 4e webpagina*/

h5 {
  margin: 5% 0;
}

.container-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 1%;
  margin-bottom: 3em;
}
  
.card {
  background-color: #61a5b5;
  margin: 1em 0;
  padding: 1.25em 0.5em;
  text-align: center;
  border-radius: 1em;
  border: dashed;
}

.card a {
  display: block;
}
  
.container-2 img {
  width: 7em;
  margin-bottom: 2%;
}

.container-2 p {
  padding: 0;
  margin: 3% 0;
  font-size: small;
}

li .kop-2 p {
  border-radius: 1em;
  background-color: #61a5b5;
  border: dashed;
  padding: 1em 11%;
  margin: 4% 0%;
  width: 20em;
}

.plekken {
  display: flex;
  flex-flow: column;
  align-items: center;
}
